[package]

name = "rhex"
version = "0.0.3"
authors = ["Dawid Ciężarkiewicz <dpc@ucore.info>"]

[profile.dev]
opt-level = 1
debug = true
lto = false
debug-assertions = true


[dependencies]
num = "*"
rand = "*"
chrono = "*"
hex2d = "*"
hex2d-dpcext = "*"
log = "*"
fern = "*"
schedule_recv = "*"
ncurses = "*"
dpc-simplemap = { git="https://github.com/dpc/simplemap-rs", branch="no_hash_state" }
fnv = "*"
libc = "*"
